.navbar-brand {
  font-family: 'Rubik Maze', cursive;
}

.faq a {
  color: inherit;
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 2rem;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
  background-color: #f1f1f1
}


.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.home-applied-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-start; */
  min-width: 0;
  min-height: 0;
  gap: 16px;
  padding: 24px;
  margin-top: 0.5rem;
  margin-bottom: 5rem;
  box-shadow: 0 2px 4px #e4e7f0;
  background-color: #fff;
  border-radius: 8px;
}

.job-list-component {
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid #e4e7f0;
  margin: 8px 0;
  padding: 16px;
  width: 100%;
  position: relative;
  background-color: #fff;
}

.job-list-component:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
  cursor: pointer;
}

.Job-mini-container {
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  width: 100%;
  margin-left: 16px;
}

.job-image {
  border-radius: 4px;
  align-items: center;
  flex-direction: row;
  width: 48px;
  height: 48px;
  display: inline-flex;
  box-sizing: inherit;
  position: relative;

}

.search-sec {
  margin-top: 2rem;
  padding: 2rem;
}

@media (min-width: 992px) {
  .search-sec {
    border-radius: 9px;
    background: rgba(227, 208, 234, 0.411);
  }
}

@media (max-width: 992px) {
  .search-sec {
    background: #1A4668;
  }
}

.search-slt {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}

.welcome-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  gap: 16px;
  padding: 24px;
  margin-top: 0.5rem;
  box-shadow: 0 2px 4px #e4e7f0;
  background-color: #fff;
  border-radius: 8px;
}

.dropdown ul {
  list-style: none;
  margin-left: 1.2rem;
  margin-right: 1.3rem;
  margin-top: 0.5rem;
  background: #ffffff;
  padding: 0;

  @media (min-width: 36em) {
    width: 360px;
  }


}

.dropdown ul li {
  position: relative;
}



.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.welcome-container p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.welcome-container .profile-faqs {
  max-width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  font-size: 12px;
  line-height: 20px;
  gap: 12px;
}

.welcome-container .profile-img {
  --tw-border-opacity: 1;
  border-color: rgb(238 238 238/var(--tw-border-opacity));
  border-width: 1px;
  border-radius: 9999px;
  align-items: center;
  flex-direction: row;
  width: 4.5rem;
  height: 4.5rem;
  display: inline-flex;
  position: relative;
  box-sizing: inherit;
}

.welcome-container .text-detail {
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  gap: 8px;
  margin-left: 16px;
}

.wrn-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}



.welcome-container .user {
  flex-direction: row;
  display: flex;
  border-width: 0;
  border-style: solid;
}